<div>listes des joueurs {{ players | json }}</div>

<button (click)="rollDices()">Roll dices</button>
<ng-container *ngFor="let dice of dices">
    <dice [number]="dice"></dice>
</ng-container>

<div *ngIf="sock$ | async">
    Chaussette
</div>
<div>
    score {{ score$ | async }}
    <ng-container *ngFor="let dice of dicesScore">
        <dice [number]="dice"></dice>
    </ng-container>
    <ng-container *ngIf="score$ | async as score">
        <div *ngIf="score != 0 && score % 100 == 0 && !(sock$ | async)">
            <button>Arrêter</button>
        </div>
    </ng-container>
</div>
