<div>listes des joueurs {{ players | json }}</div>

<div>Joueur courant : {{ currentPlayer$ | async | json }}</div>

<button (click)="rollDices()">Roll dices</button>
<ng-container *ngFor="let dice of dices$ | async">
    <dice [number]="dice"></dice>
</ng-container>

<div *ngIf="sock$ | async">
    Chaussette
</div>
<div>
    score {{ score$ | async }}
    <h1>Dés du score</h1>
    <ng-container *ngFor="let dice of dicesScore">
        <dice [number]="dice"></dice>
    </ng-container>
    <ng-container *ngIf="score$ | async as score">
        <div *ngIf="score != 0 && score % 100 == 0 && !(sock$ | async)">
            <button (click)="validerPalier(score)">Valider</button>
        </div>
    </ng-container>
</div>
<div>
    <paliers></paliers>
</div>
