<div>listes des joueurs {{ players | json }}</div>

<button (click)="rollDices()">Roll dices</button>
<ng-container *ngFor="let dice of dices">
    <dice [number]="dice"></dice>
</ng-container>
<div *ngIf="sock">
    Chaussette
</div>
<div>
    score {{ score }}
    <ng-container *ngFor="let dice of dicesScore">
        <dice [number]="dice"></dice>
    </ng-container>
    <div *ngIf="score != 0 && score % 100 == 0 && dices.length >= 1">
        <button (click)="palierService.valider(score, players[0])">Arrêter</button>
    </div>
</div>
