<h3>
    Simple Manual Usage With Service Config:

</h3>

<p>
    Let imagine u want to configure a separator for every segment everywhere ur using ngx-breadcrumbs
</p>


<h4>Result  :  </h4>

<coderbase-ngx-breadcrumbs>
    <coderbase-ngx-breadcrumb-item [label]="keyword" [route]="['/']">
    </coderbase-ngx-breadcrumb-item>
    <coderbase-ngx-breadcrumb-item [label]="keyword" [route]="['/']">
    </coderbase-ngx-breadcrumb-item>
    <coderbase-ngx-breadcrumb-item [label]="keyword" [route]="['/']">
    </coderbase-ngx-breadcrumb-item>
</coderbase-ngx-breadcrumbs>


