<form (ngSubmit)="register()" [formGroup]="myform">
    <ng-container formArrayName="players">
        <div *ngFor="let player of playersArray.controls; let i = index">
            <label [for]="'input' + i"
                >{{ 'PLAYER_NAME' | translate: {number: i + 1} }}:</label
            >
            <input type="text" [id]="'input' + i" [formControlName]="i" />
            <button
                type="button"
                *ngIf="playersArray.value.length > 1"
                (click)="removePlayer(i)"
            >
                -
            </button>
        </div>
    </ng-container>
    <div>
        <button type="button" (click)="addPlayer()">+</button>
    </div>
    <button type="submit">{{ 'SAVE' | translate }}</button>
</form>

<div>
    <button (click)="changeLanguage('fr')">FR</button>
    <button (click)="changeLanguage('en')">EN</button>
</div>
