/* You can add global styles to this file, and also import other style files */
$flag-icon-css-path: '/assets/flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
