<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="#">Coderbase NGX breadcrumbs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/page-example-1">Page Example 1</a>
            </li>
            <li class="nav-item" ngbDropdown>
                <a class="nav-link"
                   ngbDropdownToggle
                   routerLink="/page-example-2">
                    Page Example 2
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                    <a class="dropdown-item" routerLink="/page-example-2/child-1">Child 1</a>
                    <a class="dropdown-item" routerLink="/page-example-2/child-2">Child 2</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <h2>NGX Breadcrumbs Version Bootstrap Pre-made</h2>
    <p>Below u can see demo of ngx-breadcrumbs from this repo
        <a href="https://github.com/nivans/ngx-breadcrumbs"> Ngx-breadcrumbs</a>

    </p>
    <ngx-breadcrumbs></ngx-breadcrumbs>
    <p>
        Since we face the need to create more customizable breadcrumb for one of your client ,
        we decide to bring this to next level with coderbase-ngx-breadcrumbs library.
        The main idea is to have a library which can cover most of case and avoid to fall in trap of design.
        Components of library should let developpers to bring their own design , so finally to expose data and
        logic needed.
        Library have to be small in term of size and with 0 dependency expect Angular itself .
        We should also create a branch for each version of Angular .
        Many Stacblitz should present part of library and being diffuse in demo part to .
    </p>


    <router-outlet></router-outlet>
</main>
